h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}