/*!
  Our Journeys | © 2018 The Open University (IET-OU).
*/

body,
input,
textarea,
select {
  background: #fff;
  color: #111;
  font: .93rem Arial, Helvetica, sans-serif; /* Was: font-size: 11pt; */
}

input[ type = file ],
input[ type = submit ],
input[ type = button ] {
  cursor: pointer;
  font-size: .97rem;
  padding: 3px 8px;
}

select,
textarea {
  padding: 3px;
}

textarea {
  resize: none;
}

label,
input,
select {
  vertical-align: top;
}

a:link,
a[ href *= '?demo=' ] {
  color: #2b6ab7;
}

form {
  display: inline;
}

h1,
h2 {
    font-size: 1rem; /* Was: 12pt; */
}

h3 {
    font-size: .92rem;
}

svg#journey-canvas .in_postit {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: .90rem;
    text-align: center;
}

.help_link {
  vertical-align: -5px;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 5px;
}

.editorbar
    {
      position: fixed;
      top: 0;
      background: ivory;
      display: inline;
      width: 100%;
    }

.float_bar
    {
      border: 1px solid #aaa;
      border-radius: 5px;
      position: fixed;
      background: ivory;
      padding: 5px;
      display: block;
      font-size: 1rem;
    }

.floatingeditor
  {
    display: flex;
    flex-direction: row;
  }

 .floating_post
 {
    background-color: lightyellow;
 }

.floating_icon_select
{
  width: 110px;
}

.our-journey-js .fork-me-btn {
  clear: both;
}
 .our-journey-js .fork-me-btn a {
  background-color: #eff3f6;
  background-image: -webkit-linear-gradient(top, #fafbfc, #e4ebf0);
  background-image: -moz-linear-gradient(top, #fafbfc, #e4ebf0);
  background-image: linear-gradient(to bottom, #fafbfc, #e4ebf0);
  background-repeat: repeat-x;
  background-size: 110% 110%;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFBFC', endColorstr='#FFE4EBF0')";
   display: inline-block;
  font-weight: 600;
  vertical-align: bottom;
  cursor: pointer;
  border: 1px solid #d1d2d3;
  border-radius: 0.25em;
   color: #24292e;
  text-decoration: none;
  outline: 0;
  padding: .6rem;
}

.floating_emoticon_select
{
  width: 110px;
}

.main {
        margin-top: 0px;
        text-align: center;
}

svg#journey-canvas .in_card {
  font: 0.9rem sans-serif; /* Was: 14pt; */
}

svg#journey-canvas .card > rect {
  fill-opacity: 1.0;
  stroke: black;
  stroke-width: 1;
  fill: ivory;
}

svg#journey-canvas .card > .focussed {
  stroke: blue;
  stroke-width: 3;
}

.card.orient-horiz {
  outline: none;
}

.card.orient-vert {
  outline: none;
}

.journey-canvas {
  outline: none;
}

/* svg#journey-canvas .card.orient-horiz > rect {
  height: 130px;
  width: 240px;
}

svg#journey-canvas .card.orient-vert > rect {
  height: 240px;
  width: 130px;
} */

.add_more_card > .focussed {
  stroke: blue;
  stroke-width: 3;
}

.add_more_card > .not-focussed {
  stroke: black;
  stroke-width: 1;
}

.footer-copy {
  color: #333;
  float: left;
  font-size: .85rem;
  margin-top: 65px;
}

.footer-logos {
  float: right;
}

.footer-logos img:focus,
.footer-logos img:hover {
  border-color: #2b6ab7;
}

img[ src $= 'assets/ou-logo.svg' ],
img[ src $= 'assets/iet-logo.svg' ] {
  border: 1px solid transparent;
  border-radius: 3px;
  height: 68px;
  margin-right: 16px;
  padding: 5px;
}
