/*!
  Our Journeys | © 2018 The Open University (IET-OU).
*/

body,
input,
textarea,
select {
  background: #fff;
  color: #111;
  font: .93rem Arial, Helvetica, sans-serif; /* Was: font-size: 11pt; */
}

input[ type = file ],
input[ type = submit ],
input[ type = button ] {
  cursor: pointer;
  font-size: .97rem;
  padding: 3px 8px;
}

select,
textarea {
  padding: 3px;
}

label,
input,
select {
  vertical-align: top;
}

a:link,
a[ href *= '?demo=' ] {
  color: #2b6ab7;
}

form {
  display: inline;
}

h1,
h2 {
    font-size: 1rem; /* Was: 12pt; */
}

h3 {
    font-size: .92rem;
}

svg#journey-canvas .in_postit {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: .92rem;
    text-align: center;
}

svg#journey-canvas .startcard
    {
        font-size: 1.1rem; /* Was: 16pt; */
    }

.addmore
    {
      font-size: 4rem;
    }

.editorbar
    {
      border: 1px solid #aaa;
      border-radius: 5px;
      position: fixed;
      top: 0;
      width: 100%;
      background: ivory;
      padding: 5px;
      display: inline;
    }

.float_bar
    {
      border: 1px solid #aaa;
      border-radius: 5px;
      position: fixed;
      top: 0;
      width: 100%;
      background: ivory;
      padding: 5px;
      display: inline;
    }

.float_saveload
    {
      display: none;
    }

.floatingeditor
  {
    display: flex;
    flex-direction: row;
  }

.main {
        margin-top: 100px;
        text-align: center;
}

svg#journey-canvas .in_card {
  font: bold 1.05rem sans-serif; /* Was: 14pt; */
}

svg#journey-canvas .card > rect {
  fill-opacity: 1.0;
  stroke: black;
  stroke-width: 1;
  fill: ivory;
}

svg#journey-canvas .card > .focussed {
  stroke: blue;
  stroke-width: 3;
}

svg#journey-canvas .card.orient-horiz > rect {
  height: 130px;
  width: 240px;
}

svg#journey-canvas .card.orient-vert > rect {
  height: 240px;
  width: 130px;
}

.add_more_card > .focussed {
  stroke: blue;
  stroke-width: 3;
}

.add_more_card > .not-focussed {
  stroke: black;
  stroke-width: 1;
}

.footer-copy {
  color: #333;
  float: left;
  font-size: .85rem;
  margin-top: 65px;
}

.footer-logos {
  float: right;
}

.footer-logos img:focus,
.footer-logos img:hover {
  border-color: #2b6ab7;
}

img[ src = 'assets/ou-logo.svg' ],
img[ src = 'assets/iet-logo.svg' ] {
  border: 1px solid transparent;
  border-radius: 3px;
  height: 68px;
  margin-right: 16px;
  padding: 5px;
}
