/*!
  Our Journeys | © 2018 The Open University (IET-OU).
*/

body,
input,
textarea,
select {
  background: #fff;
  color: #222;
  font: .9rem Arial, Helvetica, sans-serif; /* Was: font-size: 11pt; */
}

input[ type = button ] {
  font-size: .97rem;
}

h2 {
    font-size: 1rem; /* Was: 12pt; */
}

.X-textarea, .X-select, .X-p, .X-input
    {
        font-size: 11pt;
    }

.startcard
    {
        font-size: 1.1rem; /* Was: 16pt; */
        background-color: red;
        color: ivory;
    }

.editorbar
    {
        position: fixed;
        top: 0;
        width: 100%;
        background: ivory;
    }

.X-optionsbar
    {
        font-size: 11pt;
    }

.main {
        margin-top: 100px;
}

.in_card {
        font-size: 1.05rem; /* Was: 14pt; */
}
