<style>
.our-journey-js .editorbar,
.our-journey-js .main { zoom: {zoom}%; } </style>

{editor bar partial}

<div class="main" id="main">

  <svg width="1240" height="1600" class="journey-canvas" id="journey-canvas" aria-label="Journey canvas" tabindex="-1"
    onload="ourJourneySvgLoad(typeof event=='undefined'?{time:Date.now()}:event) /* Directly attached */">

    {background partial}

    <g class="card-holder" role="list"></g>

    {floating editor partial}

  <svg id="add_more_card" class="add_more_card" width="130" height="240" y="1350" x="990" role='button' tabindex='0' aria-label='Add more cards'>
        <title>Add more cards</title>
        <rect fill="crimson" id="add_more_rect" width = "130" height = "240" stroke="black" fill="crimson" stroke-width="1" fill-opacity="1.0"/>
        <image xlink:href = "{assets}/add-more.png" x = "4" y = "30" height="176" width="121" id="add_more_img" class="add_more_img"/>
    </svg>

  </svg>

</div>

{attribution partial}
