<!--
  Instructions: Open this file in your preferred browser, to load the journey!
-->
<!doctype html><html lang='en'>

  <meta charset='utf-8'/>
  <style>
    body {font:1em sans-serif; margin:1em auto; max-width:32em}
    [type] {display:none}
  </style>

  <title>Our Journey: saved journey</title> <h1>Our Journey: saved journey</h1>

  <p>If you are not automatically redirected, <a id='journey-link' href=
'{redirectUrl}'
  >Go to the saved journey</a>.</p>

  <p>File date: <time>{timestamp}</time>.</p>

  <hr/>

  <p role='contentinfo'><a href='https://ourjourney.ac.uk/alpha/'>our-journey</a> v<i>{version}</i></p>

  <script>
    location.href = document.querySelector('#journey-link').getAttribute('href');
  </script>

  <i type='application/json'>{json}</i>

  <!-- {debug} -->
</html>
