
<p class="footer-copy">
  <a href="https://iet-ou.github.io/our-journey/">our-journey</a>
  v<i>__VERSION__</i>
  |
  © 2018 <a href="http://www.open.ac.uk/">The Open University</a>
  (<a href="https://iet.open.ac.uk/" title="Institute of Educational Technology">IET</a>).
</p>

<p class="footer-logos">
  <a href="https://iet.open.ac.uk/"><img src="{assets}/iet-logo.svg" alt="Institute of Educational Technology" title="Institute of Educational Technology" /></a>
  <a href="http://www.open.ac.uk/"><img src="{assets}/ou-logo.svg" alt="The Open University" title="The Open University" /></a>
</p>
