/*!
  our-journey site | © The Open University (IET).
*/

body {
    background: #fff;
    color: #222;
    font: 1rem Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 1.3rem;
    margin-top: 2rem;
}

h2{
    font-size: 1.1rem;
}

abbr[ title ] {
    border-bottom: 1px dotted grey;
    cursor: help;
    padding-bottom: 2px;
}

header img,
.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

[ role = main ] li,
.bodylist li {
    line-height: 1.9rem;
}

.bodylist .yt {
    display: none;
}

.footer-copy {
    color: #333;
    float: left;
    font-size: .85rem;
    margin-top: 65px;
  }

.footer-logos {
    float: right;
  }

.footer-logos img:focus,
.footer-logos img:hover {
    border-color: #2b6ab7;
  }

img[ src = 'assets/ou-logo.svg' ],
img[ src = 'assets/iet-logo.svg' ] {
    border: 1px solid transparent;
    border-radius: 3px;
    height: 68px;
    margin-right: 16px;
    padding: 5px;
  }

.navlist {
    list-style-type: none;
    border-width: 1px 1px;
    line-height: 1.1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navlist li /* .navli */ {
    display: inline;
}

.navlist a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-width: 1px 1px;
    border-radius: 10px;
}

.navlist a:hover,
.navlist .active {
    background-color: lightgray;
    transition: all 1s;
}

.navlist a:focus {
  text-decoration: underline;
}

.video-page {
  display: block;
  margin: 0 auto;
  width: 640px;
}

video,
iframe[ src *= transcript ] {
  background: #ccc;
  border: 2px solid #ccc;
  border-radius: 6px;
  height: 360px;
  width: 100%;
  padding: 2px;
}

iframe[ src *= transcript ] {
  background: #fafafa;
  height: 14rem;
  x-zoom: 200%;
}

iframe:hover {
  border-color: darkorange;
  transition: all 1s;
}

#transcript h2 {
  margin: .1rem 0;
}

/* https://w3c.github.io/webvtt/#css-extensions */
video::cue {
  font-size: 1.2rem;
  /* color: yellow;
  padding: 1rem; */
}
